<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>alice</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>


    <!-- url_launcher 在您的Info.plist文件中添加canLaunch作为LSApplicationQueriesSchemes条目传递给的所有URL方案 -->
	<key>LSApplicationQueriesSchemes</key>
    <array>
      <string>https</string>
      <string>http</string>
    </array>

    <!-- 包含所有可能的权限的完整列表(来自 Permission_handler 插件示例) -->
    <!-- `location`组的权限选项 -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Need location when in use</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Always and when in use!</string>
    <key>NSLocationUsageDescription</key>
    <string>Older devices need location.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Can I have location always?</string>

    <!-- “ mediaLibrary”组的权限选项 -->
    <key>NSAppleMusicUsageDescription</key>
    <string>Music!</string>
    <key>kTCCServiceMediaLibrary</key>
    <string>media</string>

    <!-- “日历”组的权限选项 -->
    <key>NSCalendarsUsageDescription</key>
    <string>Calendars</string>

    <!-- “相机”组的权限选项 -->
    <key>NSCameraUsageDescription</key>
    <string>camera</string>

    <!-- “联系人”组的权限选项 -->
    <key>NSContactsUsageDescription</key>
    <string>contacts</string>

    <!-- “麦克风”组的权限选项 -->
    <key>NSMicrophoneUsageDescription</key>
    <string>microphone</string>

    <!-- 语音群组的权限选项 -->
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>speech</string>

    <!-- “传感器”组的权限选项 -->
    <key>NSMotionUsageDescription</key>
    <string>motion</string>

    <!-- “照片”组的权限选项 -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>photos</string>

    <!-- “提醒”组的权限选项 -->
    <key>NSRemindersUsageDescription</key>
    <string>reminders</string>

    <!-- 生物识别 指纹相关权限 -->
    <key>NSFaceIDUsageDescription</key>
    <string>Because of that, scientific truth.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    </dict>


</dict>
</plist>
